---
import '../globals.css';
import { Image } from 'astro:assets';
import BgTopD from '../images/bg-curvy-desktop.svg';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import InfoSection from '../components/InfoSection.astro';
import ProductiveSection from '../components/ProductiveSection.astro';

const pageTitle = 'Fylo | Access Your Files';
---

<html lang='en' class='overflow-x-hidden'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class=''>
      <Navbar />
      <main class='relative'>
        <Image
          src={BgTopD}
          alt={''}
          class={'absolute top-[35rem] max-w-[100vw] w-full left-0 h-[449px] -z-50 hidden sm:block'}
        />
        <Hero />
        <InfoSection />
        <ProductiveSection />
      </main>
    </div>
  </body>
</html>
