---
import { Image } from 'astro:assets';
import Logo from '../images/logo.svg';
---

<header class='my-8'>
  <nav class='flex items-center justify-between gap-2'>
    <a href='/'
      ><Image src={Logo} alt={''} class={'w-[100px] sm:w-[150px]'} /></a
    >
    <div class='flex gap-4 sm:gap-16 font-raleway text-sm sm:text-lg'>
      <a href='/' class='link' title='Features'>Features</a>
      <a href='/' class='link' title='Team'>Team</a>
      <a href='/' class='link' title='Sign In'>Sign In</a>
    </div>
  </nav>
</header>
