---
import { Image } from 'astro:assets';
import ProductiveImage from '../images/illustration-stay-productive.png';
---

<section class='bg-[--clr-blue-02] pb-20'>
  <div class='px-8 max-w-[--max-width] mx-auto sm:grid grid-cols-2 gap-4 items-center'>
    <Image src={ProductiveImage} alt={'illustration stay productive'} />
    <div class='mt-12 sm:mt-0 [&>*]:mb-4 lg:pl-24 2xl:pl-32'>
      <h2 class='text-xl sm:text-4xl xl:w-2/3'>Stay productive, wherever you are</h2>
      <p>
        Never let location be the issue when accessing your files. Fylo has you
        covered for all of your file storage needs.
      </p>
      <p>
        Securely share files and folders with friends, family and colleagues for
        live collaboration. No email attachments required.
      </p>
      <a href='/' class='flex items-center gap-2 relative productive-link group'
        >See how Fylo works <svg
          class='mt-1 group'
          width='16'
          height='16'
          xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink'
          ><defs
            ><circle id='b' cx='6' cy='6' r='6'></circle><filter
              x='-25%'
              y='-25%'
              width='150%'
              height='150%'
              filterUnits='objectBoundingBox'
              id='a'
              ><feOffset in='SourceAlpha' result='shadowOffsetOuter1'
              ></feOffset><feGaussianBlur
                stdDeviation='1'
                in='shadowOffsetOuter1'
                result='shadowBlurOuter1'></feGaussianBlur><feColorMatrix
                values='0 0 0 0 0.384313725 0 0 0 0 0.878431373 0 0 0 0 0.850980392 0 0 0 0.811141304 0'
                in='shadowBlurOuter1'></feColorMatrix></filter
            ></defs
          ><g fill='none' fill-rule='evenodd'
            ><g transform='translate(2 2)'
              ><use fill='#000' filter='url(#a)' xlink:href='#b'></use><use
                class='group-hover:fill-white'
                fill='#62E0D9'
                xlink:href='#b'></use></g
            ><path
              d='M8.582 6l-.363.35 1.452 1.4H5.333v.5h4.338L8.22 9.65l.363.35 2.074-2z'
              fill='#1B2330'></path></g
          ></svg
        ></a
      >
    </div>
  </div>
</section>
