@import '@fontsource-variable/raleway';
@import '@fontsource-variable/open-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* PRIMARY */
  /* intro and email sign up background */
  --clr-blue-01: hsl(217, 28%, 15%);

  /* main background */
  --clr-blue-02: hsl(218, 28%, 13%);

  /* footer background */
  --clr-blue-03: hsl(216, 53%, 9%);

  /* testimonials background */
  --clr-blue-04: hsl(219, 30%, 18%);

  /* ACCENT */
  /* inside call-to-action gradient */
  --clr-cyan: hsl(176, 68%, 64%);

  /* inside call-to-action gradient */
  --clr-blue-accent: hsl(198, 60%, 50%);

  /* error */
  --clr-red: hsl(0, 100%, 63%);
}

body {
  @apply bg-[--clr-blue-02] text-white;
}

@layer components {
  .link {
    @apply hover:underline hover:font-bold 
    before:block before:font-bold
    before:h-0 before:overflow-hidden before:invisible
    before:content-[attr(title)];
  }
}
