@import '@fontsource-variable/raleway';
@import '@fontsource-variable/open-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* PRIMARY */
  /* intro and email sign up background */
  --clr-blue-01: hsl(217, 28%, 15%);

  /* main background */
  --clr-blue-02: hsl(218, 28%, 13%);

  /* footer background */
  --clr-blue-03: hsl(216, 53%, 9%);

  /* testimonials background */
  --clr-blue-04: hsl(219, 30%, 18%);

  /* ACCENT */
  /* inside call-to-action gradient */
  --clr-cyan: hsl(176, 68%, 64%);

  /* inside call-to-action gradient */
  --clr-blue-accent: hsl(198, 60%, 50%);

  /* error */
  --clr-red: hsl(0, 100%, 63%);

  --max-width: 1440px;

  --font-body: 0.875rem;
}

body {
  @apply bg-[--clr-blue-01] text-white;
}

@layer base {
  h1,
  h2 {
    @apply font-raleway font-bold;
  }

  button {
    @apply font-raleway font-bold;
  }

  p {
    @apply text-[--font-body];
  }
}

@layer components {
  .link {
    @apply hover:underline hover:font-bold 
    before:block before:font-bold
    before:h-0 before:overflow-hidden before:invisible
    before:content-[attr(title)];
  }

  .productive-link {
    @apply text-[--clr-cyan] w-fit hover:text-white
    
    before:content-[''] before:absolute before:bg-[--clr-cyan] before:w-full before:h-0.5 before:top-8 before:hover:bg-white;
  }
}
